tmp
build
node_modules
*.txt
**/go/aoc
**/cpp/aoc
target
data/
*.class
__pycache__
.clang*

pyrightconfig.json
.classpath
.factorypath
.project
.settings
dependency-reduced-pom*
.zig-cache
zig-out
.DS_Store
a.*
